.bar {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto 1rem;
    width: 10%;

    img {
        width: 100%;
    }
}

.search {
    width: 80%;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: rgb(0 0 0 / 5%);
    padding: 0.32rem;

    svg {
        margin: 0 0.5rem;
    }

    div {
        width: 100%;
        input {
            padding: 4px 0;
        }
    }
}

.profile {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}